.card-header{
    text-align: center;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 50px;
    color: whitesmoke;
    background: rgb(88, 2, 16);
    letter-spacing: 3px;
    text-transform:uppercase;
}
.table{
    background-color: rgb(7, 94, 182);
}
th{
    color: yellow;
}
td{
    color: rgb(149, 219, 7);
}